<% layout("layouts/boilerplate")%>
<body>
  <h2 class="offset-2"><%= listing.title %></h2>
  <div class="card col-8 offset-2">
    <img
      src="<%=listing.image.url%>"
      class="card-img-top"
      alt="image"
      style="width: fit-content; height: fit-content"
    />

    <div class="card-body">
      <p><b>Description:</b> <%= listing.description %></p>
      <p>
        <b>Country:</b> <%= listing.country %> <br />
        <b>Location:</b> <%= listing.location %>
      </p>
      <p><b>Price:</b> &#8377; <%= listing.price.toLocaleString("en-IN") %> / day</p>
      <p>owner: <%= listing.owner.username %></p>
    </div>
  </div>

  <%if(currUser && listing.owner._id.equals(currUser._id)){%>
  <button class="btn btn-dark offset-3 mb-1 col-1">
    <a href="/listings/<%=listing._id %>/edit">edit </a>

  </button>
  
  <form method="POST"
        action="/listings/<%= listing._id%>?_method=DELETE">
      <button class="btn btn-danger offset-3 mb-1 col-1">delete</button>
      </form>
 <%}%>




  <!-- review add -->
  <hr />
  <% if(currUser){%>
  <div class="col-8 offset-2 mb-3">
    <h4>Leave a review</h4>
    <form
      action="/listings/<%= listing._id%>/reviews"
      method="POST"
      class="needs-validation"
      novalidate
    >
     
      <div class="mb-2 mt-3">
  <fieldset class="starability-slot">
      <legend>First rating:</legend>
  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
  <input type="radio" id="first-rate1" name="review[rating]" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset>
</div>
      
      <div class="mb-2 mt-3">
        <label class="form-label" for="comment">leave a comment</label>
        <textarea
          class="form-control is-invalid"
          name="review[comment]"
          id="comment"
          col="30"
          row="10"
          required
        ></textarea>
      </div>
      <button class="btn btn-dark mb-3 mt-2">submit</button>
    </form>
  </div>
  <%}%>


  <!-- review -->
  <hr />
  <p><b>Reviews</b></p>
  <div class="row" width="150px" >
    <% for(review of listing.reviews){ %>
    <div class="card col-3 mb-2 ms-2">
      <div class="card-body">
        <h5 class="card-title"><%= review.author.username %></h5>
        <div class="card-text mb-2 ms-2">
        <p class="card-text">
          <%= review.comment%> <br />
          <%= review.rating %> stars
        </p>
        <div class="rate">
        <p class="starability-result card-text" data-rating="<%= review.rating %>">
    Rated: 3 stars
  </p>
  </div>
  </div>
      </div>

      <%if(currUser && review.author._id.equals(currUser._id)){%>
      <form
        method="POST"
        action="/listings/<%= listing._id%>/reviews/<%= review._id %>?_method=DELETE"
        class="mb-2"
      >
        <button class="btn btn-sm btn-dark">delete</button>
      </form>
      <%}%>
    </div>

    <%}%>
  </div>
</body>

